<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "../public/css/styles.css">
        <link rel = "shortcut icon" href = "../public/img/bigT.png" type="image/x-icon">
        <title> {{ .Name }} </title>
    </head>

    <body>
        <div class = "parent">
            <div class = "c1">
                <h1> Welcome {{ .Name }}, the time now is {{ .Time }} </h1> 
            </div>
        </div>
    </body>
</html>